
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <div>
            <label>Username: </label><input type="text" [(ngModel)]="username">
            <br>
            <label>Old password: </label><input type="password" [(ngModel)]="old_password">
            <br>
            <label>New password: </label><input type="password" [(ngModel)]="new_password">
            <br>
            <label>New password again: </label><input type="password" [(ngModel)]="new_password_again">
            <br>
            <button (click)="reset()">Reset</button>
            <br>
            <p (click)="sec_question_page()" class="links">Forgot old password? Click here.</p> <br>
        
        </div>
    </body>
</html>


