<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <div>
            <label>Username: </label><input type="text" [(ngModel)]="username">
            <br>
            <label>Security question: </label>
            <label> <i>What is your favorite city that you have visited?:</i> </label><input type="text" [(ngModel)]="answer">
            <button (click)="reset()">Reset</button>
            <br>
            <p class="err-msg">{{err_msg}}</p>
        </div>
    </body>
</html>
